 *{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 html, body{
    height: 100%;
    width: 100%;
 }

 .main{
    height: 100%;
    width: 100%;
    max-width: 1400px;
    /* background-color: rgb(0, 0, 0); */
    margin: 0 auto;
    display: flex;
    align-items: end;
    /* justify-content: space-between; */
    padding: 0px 50px;
    padding-top: 150px;
    gap: 70px;
 }

 .left{
    height: 100%;
    width: 48%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}

 .left h1{
   font-size: 9vw;
   font-weight: 300;
   line-height: 7vw;
   font-family: work sans;
 }

 .left-bottom{
      /* height: 40%; */
      width: 100%;
      /* background-color: blueviolet; */
 }


.color{
    /* background-color: rgb(235, 152, 50); */
    width: fit-content;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 50px;
}

.color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}

.color1{
    height: 20px;
    width: 20px;
    background-color: rgb(9, 255, 0);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 3px;
}
.color2{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 0, 221);
    border-radius: 50%;
}

.left h2{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

.left p{
    font-size: 20px;
    width: 60%;
    font-weight: 500;
    color: #333;
    line-height: 25px;
}




 .right{
    height: 100%;
    width: 48%;
    /* background-color: lightgreen; */
    position: relative;
 }

 .right-top{
    /* background-color: cadetblue; */
    height: 6.5%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0 100px;
 }

.right-top h4, h5{
    font-size: 15px;
    font-weight: 600;
}
.rating{
    display: flex;
}
.rating i{
    font-size: 15px;
 color: gold;
 margin-left: 5px;
}

.right video{
    width: 100%;
    height: 93%;
}

.circle{
    position: absolute;
    right: 6%;
    top: 20%;
    height: 120px;
    width: 120px;
    background-color: #121327;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* rotate: 90deg; */
    /* animation: rotate 10s linear infinite; Animation for rotation */
}
/*
 @keyframes rotate {
    from {
        transform: rotate(0deg); /* Start rotation from 0 degrees */
    /* } */
    /* to { */
        /* transform: rotate(360deg); End rotation at 360 degrees */
    /* } */
/* } */

.circle h5{
 font-size: 20px;
 font-weight: 100;
}

.rotated{
    position: absolute;
    left: -10%;
    bottom: 35%;
    rotate: -90deg;
}



@media (max-width: 600px) {
    .main{
         flex-direction: column;
        align-items: center;
        padding: 0px 0px;
        padding-top: 6vw;
        gap: 25px;
     }
    
     .left{
        height: 50%;
        width: 100%;
        /* background-color: antiquewhite; */
        justify-content: center;
    }
    
     .left h1{
       font-size: 17vw;
       font-weight: 300;
       line-height: 13vw;
       font-family: work sans;
       padding: 5vw 30vw;
     }
        
.left-bottom{
    position: relative;
}
      
    .color{
        position: absolute;
        left: 35%;
        top: -12%;
        padding: 5px 10px;
        margin-top: 5vw;
        margin-right: 5vw;
    }
     
    .color h5{
        font-size: 4.5vw;
        margin-right: 10px;
        font-weight: 100;
        padding-right: 2vw ;
    }
    
    .left h2{
        margin-top: 15vw;
        padding: 0px 10vw;
        margin-bottom: 15px;
        font-size: 25px;
        font-weight: 600;
    }
    
    .left p{
        font-size: 16px;
        width: 100%;
        line-height: 20px;
        padding: 0px 7vw;
    }
    
    
    
    
     .right{
        height: 50%;
        width: 48%;
        /* background-color: lightgreen; */
        position: relative;
     }
    
     .right-top{
        /* background-color: cadetblue; */
        height: 3.5%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0px;
        gap: 15vw;
     }
    
     .rating{
        display: flex;
     }
    .right-top h4, h5{
        font-size: 12px;
        font-weight: 600;
    }
    
    .rating i{
        font-size: 10px;
     color: gold;
     margin-left: 2px;
    }
    
    .right video{
        width: 100%;
        height: 81%;
    }
    
    .circle{
        position: absolute;
        right: -20%;
        top: 70%;
        height: 80px;
        width: 80px;
        background-color: #121327;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        /* rotate: 90deg; */
        /* animation: rotate 10s linear infinite; Animation for rotation */
    }

    .circle h5{
        font-size: 10px;
       }
       
       .rotated{
        /* background-color: aqua; */
        /* height: 25vw; */
           position: absolute;
           left: -75%;
           /* right: -14%; */
           bottom: 55%;
           /* rotate: -90deg; */
       }
       
}