*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(129, 126, 126);
}

button{
    border: 2px solid cyan;
    margin: 50px;
    background-color: black;
    color: cyan;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    transition: all linear 0.5s;
    z-index: 1;
    overflow: hidden;
}

button::after{
    content: "";
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background-color: cyan;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    transition: all linear 0.5s;
    z-index: -1;
}

button:hover::after{
    height: 50px;
    width: 50px;
    transform: translate(-50%, -50% ) scale(2.5)
}

button:hover{
    color: black;
}